In [1]:
import pandas as pd


data = {
    "ID": [1, 2, 3, 4, 5],
    "Ciudad": ["Madrid", "Barcelona", "Sevilla", "Madrid", "Valencia"], 
    "Educación": ["Secundaria", "Primaria", "Universitaria", "Primaria", "Universitaria"],  
    "Género": ["F", "M", "F", "M", "F"],
}
df = pd.DataFrame(data)
print("Dataset original:")
print(df)

Dataset original:
   ID     Ciudad      Educación Género
0   1     Madrid     Secundaria      F
1   2  Barcelona       Primaria      M
2   3    Sevilla  Universitaria      F
3   4     Madrid       Primaria      M
4   5   Valencia  Universitaria      F

In [5]:
#1

ciudaddummie = pd.get_dummies(df["Ciudad"], prefix="Ciudad")
ciudaddummie.drop(columns="Ciudad_Valencia", axis=1, inplace=True)
ciudaddummie

dfc = df.join(ciudaddummie)
dfc.drop(columns=["Ciudad"], axis=1, inplace=True)

dfc

   ID      Educación Género  Ciudad_Barcelona  Ciudad_Madrid  Ciudad_Sevilla
0   1     Secundaria      F             False           True           False
1   2       Primaria      M              True          False           False
2   3  Universitaria      F             False          False            True
3   4       Primaria      M             False           True           False
4   5  Universitaria      F             False          False           False